#navbar{
    color:#5b6e72;
    width:100%;
    padding: 2.5vh 0 1.3vh 0;
}

.navbar-items{
    display:flex;
    flex-direction:row;
    justify-content: space-evenly;
}

.navbar-item:hover{
    animation: highlightItem 0.5s 1;
    cursor:pointer;
    /*animation: animationReference Duration Iterations*/
 }

 @keyframes highlightItem {
    0%,100% {
        color:#5b6e72;
      }
      50% {
        color:#ffffff;
      }
 }

 .navbar-items-small{
     /*display:none;*/
     position:absolute;
 }

 @media (max-width: 480px) {
    .navbar-items {
      display: none;
    }
  }

  @media (min-width: 480px) {
    .navbar-items {
        flex-direction:row;
        justify-content: space-evenly;
        display: flex;
    }
  }