#navbar{
    color:#5b6e72;
    width:100%;
    padding: 2.5vh 0 0 0;
}

.navbar-items{
    display:flex;
    flex-direction:row;
    justify-content: space-evenly;
}

.navbar-item:hover{
    animation: highlightItem 0.9s 1;
    cursor:pointer;
    /*animation: animationReference Duration Iterations*/
 }

 @keyframes highlightItem {
    0%,100% {
        color:#5b6e72;
      }
      50% {
        color:#ffffff;
      }
 }

 .navbar-items-small{
     /*display:none;*/
     position:absolute;
 }